<br><br><br>
<table class="table table-bordered table-hover">
	<thead>
		<tr>	
			<th><%= sort_link(@q, :name, 'Name', default_order: :asc) %></th>
			<th><%= sort_link(@q, :email, 'Email', default_order: :asc) %></th>
			<th>Privilages</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<% @regular_users.each_with_index do |regular_user, index| %>
		<% if regular_user != current_user %>
		<tr>	
			<td><%= regular_user.name %></td>
			<td><%= regular_user.email %></td>
			<td>
				<span>Admin: <b><%= tick_or_cancel(regular_user.admin?) %></b></span>
				<br>
				<span>Manager: <b><%= tick_or_cancel(regular_user.manager?) %></b></span>
			</td>
			<td class="center">
				<div class="btn-group">
					<%= link_to edit_regular_user_path(regular_user), class: 'btn btn-primary' do
						content_tag :span, " ", class: "glyphicon glyphicon-pencil"
					end %>

					<%= link_to regular_user_path(regular_user), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete #{regular_user.name}'s account? Are you sure?"} do
						content_tag :span, " ", class: "glyphicon glyphicon-trash"
					end %>
				</div>
			</td>
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>
<div class="center">
	<%= will_paginate %>
</div>
