<%= render 'shared/error_messages',  object: @guest_user %>
<br>
<label>Host</label>
<label class="form-control">
	<%= current_user.name %>
</label>

<br>

<div class="name-list">
  <%= f.label :name %><span class="glyphicon glyphicon-plus add-name pull-right" aria-hidden="true"></span>
  <br><br>
  <input class="form-control" name="guest_user[names][]" id="guest_user_name" type="text">
</div>


<br><br>
<%= f.label :details %>
<%= f.text_field :details, class: "form-control" %>

<div class="form-group">
	<div class="input-daterange input-group" id="datepicker">
		<%= f.text_field :from_date, class: "input-sm form-control", placeholder: "From Date" %>
		<span class="input-group-addon">to</span>
		<%= f.text_field :to_date, class: "input-sm form-control", placeholder: "To Date" %>
	</div>
</div>
<br>