<h2 class="center">View Guest Bookings</h2>

<div class="container center row">(
	<h5>Admin: <b><%= if  current_user.admin? then "Yes" else "No" end%></b></h5>
	<h5>Manager: <b><%= if  current_user.manager? then "Yes" else "No" end%></b></h5>
)</div>

<div class="btn-group pull-right" role="group" aria-label="...">
	<%= content_tag 'span', 'Export as ', class: 'export-text btn btn-success' %>
	<%= link_to 'CSV', guest_users_path(format: 'csv'), class: 'btn btn-success' %>
	<%= link_to 'Excel', guest_users_path(format: 'xls'), class: 'btn btn-success' %>
</div>

<br><br><br>
<div class="panel  panel-default">
	<div class="panel-heading">Filters <span class="glyphicon glyphicon-minus pull-right minimize-filters" aria-hidden="true"></div>
	<div class="panel-body filters">

		<%= search_form_for @q, :html => { :class => "form-inline" } do |f|%>
			
			<div class="form-group col-lg-4 col-md-3">
				<div class="input-daterange input-group" id="datepicker">
				<%= f.text_field :from_date_gteq, class:"input-sm form-control", id: 'start', placeholder: 'Came after' %>
				<span class="input-group-addon"> - </span>
				<%= f.text_field :from_date_lteq, class:"input-sm form-control", id: 'end', placeholder: 'Came before' %>
				</div>
			</div>

			<div class="col-lg-3 col-md-3">
					<%= f.select :regular_user_id_eq, options_from_collection_for_select(@regular_users, 'id', 'name'), { :include_blank => 'All Users' }, { :class => 'form-control' } %>
			</div>

			<div class="col-lg-3 col-md-3">
					<%= f.text_field :name_cont, class: 'form-control', placeholder: "Search by Guest's Name" %>
			</div>

			<div class="col-lg-2 col-md-3">
				<%= f.submit 'Search', class: 'btn btn-success' %>
			</div>

		<% end %>
			
  	</div>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>	
			<th>#</th>
			<th><%= sort_link(@q, :name, 'Name', default_order: :asc) %></th>
			<th><%= sort_link(@q, :from_date, 'From Date', default_order: :desc) %></th>
			<th><%= sort_link(@q, :to_date, 'To Date', default_order: :desc) %></th>
			<% if current_user.admin? || current_user.manager?%>
				<th><%= sort_link(@q, :regular_user_name, 'Host', default_order: :asc) %></th>
			<% end %>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
	<% @guest_users.each_with_index do |guest_user, index| %>
		<tr>	
			<td><b><%= index+1 %></b></td>
			<td><%= guest_user.name %></td>
			<td><%= guest_user.from_date.strftime("%a %d %B, %Y") %></td>
			<td><%= guest_user.to_date.strftime("%a %d %B, %Y") %></td>
			<% if current_user.admin? || current_user.manager?%>
				<td><%= guest_user.regular_user.name %></td>
			<% end %>
			<td><%= truncate(guest_user.details) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<div class="center">
	<%= will_paginate %>
</div>
