<br><br>

<ul>
  <% @versions.each do |version| %>
    <p>
      <div class='row'>

        <% if version.item_type == 'Transaction' %>
          <%= transaction_change_desc(version.event, version.whodunnit) %>
        <% elsif version.item_type == 'GuestUser' %>
          <%= guest_change_desc(version.item_id, version.event, version.whodunnit) %>
        <% elsif version.item_type == 'RegularUser' %>
          <%= user_change_desc(version.item_id, version.event, version.whodunnit) %>
        <% end %>

        <div class="pull-right">
          <%= content_tag :span, 'View Changes', class: "btn btn-primary btn-sm show-changeset", id: "#{version.id}" %>
        </div>

        <br><br>
        <%= content_tag :div, class: "changeset changeset-#{version.id}" do
          render 'diff', version: version
        end %>
        <hr>

      </div>
    </p>
  <% end %>
</ul>
<div class="center">
  <%= will_paginate %>
</div>