<h2 class="center">View Logs</h2>

<!-- This list of privilages is only in dev environment -->
<% if Rails.env.development? %>
<div class="container center row">(
	<h5>Admin: <b><%= if  current_user.admin? then "Yes" else "No" end%></b></h5>
	<h5>Manager: <b><%= if  current_user.manager? then "Yes" else "No" end%></b></h5>
)</div>
<% end %>

<div class="btn-group pull-right" role="group" aria-label="...">
	<%= content_tag 'span', 'Export as ', class: 'export-text btn btn-success' %>
	<%= link_to 'CSV', regular_user_transactions_path(regular_user_id:current_user.id, format: 'csv'), class: 'btn btn-success' %>
	<%= link_to 'Excel', regular_user_transactions_path(regular_user_id:current_user.id, format: 'xls'), class: 'btn btn-success' %>
</div>

<br><br><br>
<br>
<div class="panel  panel-default">
	<div class="panel-heading">Filters <span class="glyphicon glyphicon-minus pull-right minimize-filters" aria-hidden="true"></span></div>
	<div class="panel-body filters">

		<%= search_form_for [current_user, @q], :html => { :class => "form-inline" } do |f|%>
			
			<div class="form-group col-lg-3 col-md-3">
				<div class="input-daterange input-group" id="datepicker">

				<%= f.text_field :date_gteq, class:"input-sm form-control", id: 'start', placeholder: 'Start Date' %>
				<span class="input-group-addon">to</span>
				<%= f.text_field :date_lteq, class:"input-sm form-control", id: 'end', placeholder: 'End Date' %>
				</div>
			</div>

			<div class="col-lg-2 col-md-3">
				<div class="input-group select-group">
					<%= f.select :regular_user_id_eq, options_from_collection_for_select(@regular_users, 'id', 'name'), { :include_blank => 'All Users' }, { :class => 'form-control' } %>
				</div>
			</div>

			<div class="col-lg-2 col-md-3">
				<div class="input-group select-group">
					<%= f.select :guest_user_id_eq, options_from_collection_for_select(@guest_users, 'id', 'name'), { :include_blank => 'All Guests' }, { :class => 'form-control' } %>
				</div>
			</div>
			
			<div class="checkbox col-lg-3 col-md-3">
				<label><%= check_box_tag('q[food_type_eq_any][]', 'B') %>Breakfast</label>
				<label><%= check_box_tag('q[food_type_eq_any][]', 'L') %>Lunch</label>
				<label><%= check_box_tag('q[food_type_eq_any][]', 'D') %>Dinner</label>
				<label><%= check_box_tag('q[food_type_eq_any][]', 'S') %>Special</label>
		  	</div>

			<div class="col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-5">
				<%= f.submit 'Search', class: 'btn btn-success' %>
			</div>

		<% end %>
			
  	</div>
</div>

<div class="panel  panel-default">
	<div class="panel-heading">Stats <span class="glyphicon glyphicon-minus pull-right minimize-stats" aria-hidden="true"></span></div>
	<div class="panel-body row stats">
		<div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3">
			<div class="legends legends-day center">
				<div class="swatch" style="background-color:#dcdcdc"></div> Regulars
				<div class="swatch" style="background-color:#97bbcd"></div> Guests
			</div>
			<canvas id="dayChart" width="400" height="300"></canvas>
		</div>

		<div class="col-lg-2 col-lg-offset-1 col-md-6 col-md-offset-0">
			<canvas id="guestChart"></canvas>
			<ul class="legends pull-left">
				<li id="legend-regular"></li>
				<li id="legend-guest"></li>
			</ul>
		</div>

		<div class="col-lg-2 col-lg-offset-1 col-md-6 col-md-offset-0">
			<canvas id="foodChart"></canvas>
			<ul class="legends pull-left">
				<li id="legend-breakfast"></li>
				<li id="legend-lunch"></li>
				<li id="legend-dinner"></li>
				<li id="legend-special"></li>
			</ul>
		</div>
	</div>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>	
			<th>#</th>
			<th>Photo</th>
			<th><%= sort_link(@q, :date, 'Date', default_order: :desc) %></th>
			<th>Food</th>
			<th><%= sort_link(@q, :price, 'Price', default_order: :desc) %></th>
			<% if current_user.admin? || current_user.manager?%>
				<th><%= sort_link(@q, :regular_user_name, 'Billed User', default_order: :asc) %></th>
			<% end %>
			<th><%= sort_link(@q, :guest_user_name, 'Guest Name', default_order: :asc) %></th>
			<% if current_user.admin?%>
				<th>Actions</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	<% @transactions.each_with_index do |transaction, index| %>
		<tr>	
			<td><b><%= index+1 %></b></td>

			<% if transaction.image.blank? %>
				<td><%= image_tag '/default.jpg', size: "75x75" %></td>
			<% else %>
				<td><%= image_tag transaction.image.url, size: "75x75" %></td>
			<% end %>

			<td><%= transaction.date.strftime("%a %d %B, %Y") %></td>
			<td><%= full_food_type(transaction.food_type) %></td>
			<td><%= transaction.price %></td>
			<% if current_user.admin? || current_user.manager?%>
				<td><%= transaction.regular_user.name %></td>
			<% end %>

			<td><%= transaction.guest_transaction? ? transaction.guest_user.name : '-' %></td>

			<% if current_user.admin?%>
				<td>
					<div class="btn-group">
					<%= link_to edit_transaction_path(transaction), class: 'btn btn-primary' do
						content_tag :span, " ", class: "glyphicon glyphicon-pencil"
					end %>

					<%= link_to transaction_path(id: transaction.id), method: :delete, class: 'btn btn-danger', data: { confirm: "Delete transaction? Are you sure?"} do
						content_tag :span, " ", class: "glyphicon glyphicon-trash"
					end %>
					</div>
				</td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>

<div class="center">
	<%= will_paginate @transactions %>
</div>

<script type="text/javascript">
	createDayChart();
	createUserTypeChart();
	createFoodTypeChart();
</script>
